<%= render partial: 'shared/model_error_messages', locals: {model: @recipe} %>
<%= form_for(@recipe) do |f| %>
  <div>
    <%= f.label :title, 'Título'%>
    <%= f.text_field :title %>
    <br>
    <%= f.label :recipe_type_id, 'Tipo da Receita'%>
    <%= f.collection_select :recipe_type_id, @recipe_types, :id, :name  %>
    <br>
    <%= f.label :cuisine_id, 'Cozinha' %>
    <%= f.collection_select :cuisine_id, @cuisines, :id, :name %>
    <br>
    <%= f.label :difficulty, 'Dificuldade'%>
    <%= f.text_field :difficulty %>
    <br>
    <%= f.label :cook_time, 'Tempo de Preparo'%>
    <%= f.text_field :cook_time %>
    <br>
    <%= f.label :ingredients, 'Ingredientes'%>
    <%= f.text_field :ingredients %>
    <br>
    <%= f.label :cook_method, 'Como Preparar'%>
    <%= f.text_field :cook_method %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>
